//variables
$nav-padding-right:28px;
$background_btn: #FFF0DC;
$rgba-grey:rgba(87,87,87,0.7);
$xl:1199px;
$large: 991px;
$medium:767px;
$small:540px;
//map-get function for colors
$colors:(
    orange-color:#FB9300,
    grey-text:#575757,
    mute-text:#828282,
    black-color:#2B2B2B,
    white-color:#fff,
    light-mute-color:#999999,
    number-text-color: #333333,
    disable-text:#CCCCCC,
    grey-color-text:#585858
);