footer {
  padding: 50px 0; }
  footer .col-3 {
    display: flex;
    justify-content: space-around; }
  footer .footer-head .logo {
    font-size: 24px;
    line-height: 28px;
    color: #575757; }
    footer .footer-head .logo span {
      color: #FB9300; }
  footer .footer-head p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 19px; }
  footer .footer-head .copyright {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #2B2B2B;
    padding-top: 67px; }
  footer h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #FB9300;
    margin-bottom: 24px; }
  footer .center-list {
    display: flex;
    align-items: center;
    flex-direction: column; }
  footer .footer-list ul {
    padding: 0;
    margin-bottom: 0; }
    footer .footer-list ul li {
      list-style-type: none;
      padding: 0 26px; }
    footer .footer-list ul a {
      text-decoration: none;
      color: #575757;
      font-weight: 600;
      font-family: "Poppins-Medium";
      font-size: 24px;
      line-height: 38px; }
      footer .footer-list ul a:hover {
        color: #FB9300; }
    footer .footer-list ul span {
      display: block;
      color: #828282;
      font-family: "Poppins-Medium";
      font-size: 16px;
      line-height: 24px;
      font-weight: 500; }
  footer .footer-list ul {
    margin-bottom: 0; }
    footer .footer-list ul li {
      padding: 0; }
      footer .footer-list ul li a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        display: flex;
        margin-bottom: 24px; }
      footer .footer-list ul li:hover svg path {
        fill: #575757; }
      footer .footer-list ul li span.ml-16 {
        color: #575757;
        margin-left: 16px;
        font-weight: 400; }
        footer .footer-list ul li span.ml-16:hover {
          color: #FB9300; }
  footer .footer-list ul.pr-15 li {
    padding: 0 15px; }
  footer .footer-list ul.pr-15 a {
    margin-bottom: 0; }
  footer .footer-list .follow-us {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #575757;
    padding-top: 20px; }
