.cards_row .cards:nth-child(2) {
  box-shadow: 0 5px 16px rgba(245, 222, 179, 0.6);
  border: none; }
  .cards_row .cards:nth-child(2) button {
    background: #FB9300;
    border-radius: 100px;
    color: #fff;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 400; }
    @media (min-width: 1199px) {
      .cards_row .cards:nth-child(2) button:hover {
        border: 1px solid #FB9300;
        background: #fff;
        color: #FB9300; }
        .cards_row .cards:nth-child(2) button:hover svg path {
          stroke: #FB9300; } }
    @media (max-width: 1199px) {
      .cards_row .cards:nth-child(2) button {
        padding: 15px 24px; } }
    @media (max-width: 991px) {
      .cards_row .cards:nth-child(2) button {
        padding: 12px 22px;
        margin: 0 12px; } }
    @media (max-width: 767px) {
      .cards_row .cards:nth-child(2) button {
        padding: 9px 18px;
        margin: 0 10px; } }
    @media (max-width: 540px) {
      .cards_row .cards:nth-child(2) button {
        padding: 9px 15px;
        margin: 0px 5px; } }
    .cards_row .cards:nth-child(2) button svg {
      padding-left: 14px;
      width: auto; }
      .cards_row .cards:nth-child(2) button svg path {
        stroke: #fff; }

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 84px;
  align-items: center; }
  nav .logo {
    font-size: 24px;
    line-height: 28px;
    color: #575757; }
    nav .logo span {
      color: #FB9300; }
  nav ul {
    display: flex;
    padding: 0;
    margin-bottom: 0; }
    nav ul li {
      list-style-type: none; }
      nav ul li a {
        padding: 7px 28px;
        text-decoration: none;
        color: #575757;
        text-transform: capitalize;
        font-family: "Poppins-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: block; }
        nav ul li a:hover {
          color: #FB9300; }
      nav ul li a.active {
        color: #FB9300;
        font-weight: 700;
        font-family: "Poppins-Bold"; }
  nav .btn {
    background: #FB9300;
    border-radius: 100px;
    color: #fff;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize; }
    @media (min-width: 1199px) {
      nav .btn:hover {
        border: 1px solid #FB9300;
        background: #fff;
        color: #FB9300; }
        nav .btn:hover svg path {
          stroke: #FB9300; } }
    @media (max-width: 1199px) {
      nav .btn {
        padding: 15px 24px; } }
    @media (max-width: 991px) {
      nav .btn {
        padding: 12px 22px;
        margin: 0 12px; } }
    @media (max-width: 767px) {
      nav .btn {
        padding: 9px 18px;
        margin: 0 10px; } }
    @media (max-width: 540px) {
      nav .btn {
        padding: 9px 15px;
        margin: 0px 5px; } }
  nav .menutoggle {
    display: none; }

@media (max-width: 991px) {
  nav .logo {
    font-size: 20px;
    line-height: 24px; }
  nav .menutoggle {
    display: block;
    z-index: 99; }
    nav .menutoggle a {
      position: relative;
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      flex-direction: column;
      justify-content: center;
      color: #FB9300;
      transform: translateY(4px); }
    nav .menutoggle span {
      display: block;
      background-color: #FB9300;
      width: 25px;
      height: 2px;
      border-radius: 4px;
      margin-bottom: 6px;
      transition: all 0.3s ease-in-out; }
  .opened .menutoggle span:first-child {
    position: absolute;
    transform: rotate(45deg);
    background-color: #575757; }
  .opened .menutoggle span:nth-child(2) {
    display: none; }
  .opened .menutoggle span:last-child {
    position: absolute;
    transform: rotate(-45deg);
    background-color: #575757; }
  .menu_item {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100%;
    width: 100%;
    background-color: #fff3e2;
    z-index: 99;
    transition: all 0.3s ease; }
    .menu_item.menuopened {
      left: 0;
      transition: all 0.3s ease; }
    .menu_item ul {
      flex-direction: column;
      padding: 60px 0; }
    .menu_item a {
      color: #575757; }
      .menu_item a.active {
        color: #575757; } }
