//font-family included from font.css
@import "../utilites/variables.scss";
@import "../utilites/mixins.scss";
@import "mixinforP.scss";
@import "../loops/ifelse.scss";
h1 {
  @include font-size($h1-font-sizes);
  letter-spacing: -1.44px;
  color: map-get($colors, grey-text);
  @include gap(bottom, 30, margin);
  @include gap(top, 30, margin);
  span {
    color: map-get($colors, orange-color);
  }
  @media (max-width: $xl) {
    letter-spacing: 2px;
  }
}
p {
  @include font-size($p-font-size); //mixinsforP for responsive
  line-height: 32px;
  letter-spacing: -0.02em;
  color: map-get($colors, mute-text);
  margin-bottom: 0;
  
}
h3 {
  font-size: get-font-size(h3);
  line-height: 67px;
  color: map-get($colors, grey-text);
  span {
    color: map-get($colors, orange-color);
  }
}
h4{
  font-size: get-font-size(h4);
  line-height: 43px;
  color: map-get($colors, black-color);
  margin-bottom: 12px;
  letter-spacing: -0.48px;
}
h5{
  color: map-get($colors, orange-color);
  font-size: get-font-size(h5);
  line-height: 36px;
  margin-bottom: 12px;
}